* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;

    background: #08090d;

    color: white;
}


/* =========================
   NAVBAR
========================= */

.navbar {

    height: 75px;

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 0 7%;

    background: #0b0c11;

    border-bottom: 1px solid #20222b;
}


.logo {

    font-size: 22px;

    font-weight: bold;

    letter-spacing: 2px;
}


.logo span {

    color: #7c5cff;
}


.nav-links {

    display: flex;

    gap: 35px;
}


.nav-links a {

    text-decoration: none;

    color: #8d909c;

    font-size: 15px;
}


.nav-links a:hover {

    color: white;
}


.nav-links a.active {

    color: white;
}


.wallet-btn {

    border: none;

    background: #7c5cff;

    color: white;

    padding: 12px 20px;

    border-radius: 8px;

    font-weight: bold;

    cursor: pointer;
}


.wallet-btn:hover {

    background: #6848ee;
}


/* =========================
   HERO
========================= */

.hero {

    min-height: 430px;

    display: flex;

    align-items: center;

    padding: 60px 7%;

    background:

        radial-gradient(
            circle at 75% 40%,
            #30206b,
            transparent 40%
        ),

        #08090d;
}


.hero-content {

    max-width: 700px;
}


.small-title {

    color: #7c5cff;

    font-size: 13px;

    font-weight: bold;

    letter-spacing: 2px;

    margin-bottom: 15px;
}


.hero h1 {

    font-size: 64px;

    line-height: 1.05;

    margin-bottom: 25px;
}


.hero h1 span {

    display: block;

    color: #7c5cff;
}


.hero-text {

    color: #9a9daa;

    font-size: 18px;

    line-height: 1.6;

    max-width: 550px;

    margin-bottom: 30px;
}


.explore-btn {

    padding: 15px 25px;

    border: none;

    border-radius: 8px;

    background: #7c5cff;

    color: white;

    font-size: 15px;

    font-weight: bold;

    cursor: pointer;
}


.explore-btn:hover {

    background: #6848ee;
}


/* =========================
   MARKETPLACE
========================= */

.marketplace {

    padding: 70px 7%;
}


.marketplace-header {

    display: flex;

    justify-content: space-between;

    align-items: end;

    margin-bottom: 35px;
}


.marketplace-header h2 {

    font-size: 34px;
}


.search-box input {

    width: 280px;

    padding: 14px 18px;

    background: #11131a;

    border: 1px solid #292c37;

    border-radius: 8px;

    color: white;

    outline: none;
}


.search-box input:focus {

    border-color: #7c5cff;
}


.search-box input::placeholder {

    color: #6e717d;
}


/* =========================
   CATEGORIES
========================= */

.categories {

    display: flex;

    gap: 12px;

    margin-bottom: 35px;
}


.category {

    padding: 10px 20px;

    border-radius: 20px;

    border: 1px solid #292c38;

    background: transparent;

    color: #9295a3;

    cursor: pointer;
}


.category:hover {

    color: white;

    border-color: #7c5cff;
}


.category.active {

    background: #7c5cff;

    border-color: #7c5cff;

    color: white;
}


/* =========================
   NFT GRID
========================= */

.nft-grid {

    display: grid;

    grid-template-columns:
        repeat(4, 1fr);

    gap: 22px;
}


/* =========================
   NFT CARD
========================= */

.nft-card {

    background: #11131a;

    border: 1px solid #242732;

    border-radius: 12px;

    overflow: hidden;

    transition: 0.25s;
}


.nft-card:hover {

    transform: translateY(-5px);

    border-color: #7c5cff;
}


/* =========================
   NFT IMAGE
========================= */

.nft-image {

    height: 230px;

    display: flex;

    align-items: center;

    justify-content: center;

    font-size: 90px;

    background: #181a23;
}


.sword {

    background:
        radial-gradient(
            circle,
            #33255f,
            #151620
        );
}


.armor {

    background:
        radial-gradient(
            circle,
            #263c54,
            #151620
        );
}


.land {

    background:
        radial-gradient(
            circle,
            #214b48,
            #151620
        );
}


.helmet {

    background:
        radial-gradient(
            circle,
            #493a22,
            #151620
        );
}


/* =========================
   NFT INFO
========================= */

.nft-info {

    padding: 18px;
}


.title-row {

    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-bottom: 20px;
}


.title-row h3 {

    font-size: 17px;
}


/* =========================
   RARITY
========================= */

.rarity {

    font-size: 11px;

    padding: 5px 9px;

    border-radius: 5px;
}


.epic {

    background: #39246d;

    color: #bca9ff;
}


.legendary {

    background: #5c4617;

    color: #ffd56a;
}


.rare {

    background: #173b62;

    color: #67b5ff;
}


/* =========================
   STATS
========================= */

.stats {

    display: flex;

    justify-content: space-between;

    margin-bottom: 22px;
}


.stats div {

    display: flex;

    flex-direction: column;

    gap: 5px;
}


.stats span {

    color: #747784;

    font-size: 11px;
}


.stats strong {

    font-size: 13px;
}


/* =========================
   CARD BOTTOM
========================= */

.card-bottom {

    display: flex;

    align-items: center;

    justify-content: space-between;

    border-top: 1px solid #242732;

    padding-top: 15px;
}


.price-label {

    display: block;

    color: #747784;

    font-size: 10px;

    margin-bottom: 4px;
}


.card-bottom strong {

    font-size: 12px;
}


.details-btn {

    padding: 9px 13px;

    border: 1px solid #343744;

    background: transparent;

    color: white;

    border-radius: 6px;

    cursor: pointer;
}


.details-btn:hover {

    background: #7c5cff;

    border-color: #7c5cff;
}


/* =========================
   WALLET MODAL
========================= */

.modal {

    display: none;

    position: fixed;

    inset: 0;

    background: rgba(0, 0, 0, 0.75);

    align-items: center;

    justify-content: center;
}


.modal.show {

    display: flex;
}


.modal-content {

    position: relative;

    width: 400px;

    background: #11131a;

    border: 1px solid #2a2d38;

    border-radius: 14px;

    padding: 30px;
}


.modal-content h2 {

    margin-bottom: 10px;
}


.modal-content p {

    color: #858894;

    line-height: 1.5;

    margin-bottom: 25px;
}


.close-btn {

    position: absolute;

    right: 18px;

    top: 15px;

    background: none;

    border: none;

    color: #aaa;

    font-size: 28px;

    cursor: pointer;
}


.wallet-option {

    width: 100%;

    padding: 14px;

    margin-top: 10px;

    border-radius: 8px;

    border: 1px solid #2d303b;

    background: #181a22;

    color: white;

    cursor: pointer;

    text-align: left;
}


.wallet-option:hover {

    border-color: #7c5cff;
}


/* =========================
   RESPONSIVE
========================= */

@media (max-width: 1100px) {

    .nft-grid {

        grid-template-columns:
            repeat(2, 1fr);
    }

}


@media (max-width: 700px) {

    .navbar {

        padding: 0 20px;
    }


    .nav-links {

        display: none;
    }


    .hero {

        padding: 50px 20px;
    }


    .hero h1 {

        font-size: 42px;
    }


    .marketplace {

        padding: 50px 20px;
    }


    .marketplace-header {

        flex-direction: column;

        align-items: start;

        gap: 20px;
    }


    .search-box input {

        width: 100%;
    }


    .nft-grid {

        grid-template-columns: 1fr;
    }

}
.details-btn {
    text-decoration: none;
    display: inline-block;
}